{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}CronoGrade{% endblock %}
        </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'cronograde/style.css' %}?v=1.2">
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <header class="navbar">
            <div class="nav-container">
                <a href="{% url 'cronograde:home' %}" class="nav-brand">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <span>CronoGrade</span>
                </a>
                <div class="nav-actions">
                    <a href="{% url 'cronograde:about' %}" class="btn-about">Sobre</a>
                </div>
            </div>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
